@-moz-document domain("discord.com") /* ==UserStyle==
@name           CustomUserBadges
@namespace      https://github.com/TheRealGWJosh
@version        2.7.0
@description    A Quick Addon/Import To Give Users a Cool Badge in Discord Chat To Request One DM It'sJustJosh#1156 or Join This Server https://discord.gg/qafdmryEye
@author         Monstrum#3557 & It'sJustJosh#1156
@license        CC0-1.0
@preprocessor   uso
@updateURL      https://raw.githubusercontent.com/TheRealGWJosh/CustomUserBadges/main/CustomUserBadges.user.styl
@homepageURL    https://github.com/TheRealGWJosh/CustomUserBadges
@supportURL     https://github.com/TheRealGWJosh/CustomUserBadges/issues
==/UserStyle== */{
/*
====================================================================================
                                Import Source Code
====================================================================================
*/

@import url('https://therealgwjosh.github.io/CustomUserBadges/source/main.css');

/*
====================================================================================
                Please place any Theme-specific Custom CSS Below here
====================================================================================
*/
}
