@charset "UTF-8";
@import url('https://therealgwjosh.github.io/CustomUserBadges/source/src/text.css');

/* Red Spy#0035 */
.avatar-1BDn8e[src*="608735158329409546"]:hover + h2::after {
content: 'Red Spy is a Furry';
text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
animation: mentionpulse 1.5s infinite, popoutanim .2s;
--main-color: #800000;}
.avatar-1BDn8e[src*="608735158329409546"] + h2::after
{content: "}";}

/* New */
.avatar-1BDn8e[src*=""]:hover + h2::after {
content: 'NEW';
text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
animation: mentionpulse 1.5s infinite, popoutanim .2s;
--main-color: #fff;}
.avatar-1BDn8e[src*=""] + h2::after
{content: "}";}
