/* ---- keyframes ---- */
@keyframes fallBounce { /* 1s */
	from { opacity: 0; transform: translateY(-100%); }
	25% { opacity: 1; transform: translateY(0) scale(1.1, 0.9); }
	50% { transform: translateY(-20%) scale(0.9, 1.1); }
	75% { transform: translateY(0) } }
@keyframes scaleSpin { /* .4s */
	from { transform: scale(0) rotate(360deg); }
	to { transform: scale(1) rotate(0); } }
@keyframes popoutanim { 0% { transform: scale(0); }
	100% { transform: scale(1); } }
@keyframes fadeFromRight { 0% { opacity: 0; transform: translateX(50%) }
	100% { opacity: 0.9; transform: none } }
@keyframes fadeFromRight { 0% { opacity: 0; transform: translateX(50%) }
	100% { opacity: 0.9; transform: none }
 }
@keyframes fadeFromBottom { 0% { opacity: 0; transform: translateY(50%) }
	100% { opacity: 0.9; transform: none } }
@-webkit-keyframes mentionpulse { 0% { -webkit-box-shadow: 0 0 0 0 var(--main-color); }
	70% { -webkit-box-shadow: 0 0 0 5px rgba(204, 169, 44, 0); }
	100% { -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0); } }
/* ===== KEYFRAMES ===== */
@-webkit-keyframes mentionpulse { 0% { -webkit-box-shadow: 0 0 0 0 var(--main-color); }
	70% { -webkit-box-shadow: 0 0 0 5px rgba(204, 169, 44, 0); }
	100% { -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0); } }
@keyframes popoutanim { 0% { transform: scale(0); }
	100% { transform: scale(1); } }
