
/* TEXT ONLY BADGES */
@import url('https://therealgwjosh.github.io/CustomUserBadges/source/badges/text.css');

/* BLACKBOX IMPORT */
@import 'https://monstrousdev.github.io/themes/addons/user-tags.css';

/* OLD CONTENT */
@import url('https://therealgwjosh.github.io/CustomUserBadges/source/badges/glow.css');
@import url('https://therealgwjosh.github.io/CustomUserBadges/source/badges/badges.css');

/* EXRTA CONTENT */
@import 'https://therealgwjosh.github.io/CustomUserBadges/source/server-icons.css';
@import 'https://therealgwjosh.github.io/CustomUserBadges/source/src/extra.css';
@import 'https://therealgwjosh.github.io/BannerBG/src/banners.css';
