/* TEXT ONLY BADGES */
@import url('https://therealgwjosh.github.io/CustomUserBadges/source/badges/text.css');

@import 'https://monstrousdev.github.io/themes/addons/user-tags.css';
@import 'https://therealgwjosh.github.io/CustomUserBadges/source/tags.css';
@import 'https://therealgwjosh.github.io/BannerBG/src/banners.css';
@import 'https://therealgwjosh.github.io/CustomUserBadges/source/devglow.css';
@import 'https://therealgwjosh.github.io/CustomUserBadges/source/devtags.css';
@import 'https://therealgwjosh.github.io/CustomUserBadges/source/server-icons.css';
