/* ==================================Important Variable================================== */
:root {
    --server-banner-shadow: var(--background-secondary);
}
/* ==================================Important CSS================================== */
.container-1taM1r {
  background: transparent !important;
}
.container-3w7J-x .scroller-RmtA4e::-webkit-scrollbar {
  width: 0px;
}
/* ==================================Important CSS================================== */
/* Comfy Support Server [Server ID (811203761619337259)] */ 
.container-3w7J-x[aria-label*="Comfy camp"] .scroller-RmtA4e div.content-3YMskv > div:first-child {
    width: 110%;
    height: 130px !important;
    box-shadow: inset  0 -20px 20px -20px var(--server-banner-shadow);
    background-image: url("https://i.imgur.com/61FVDVp.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* CustomUserBadges Support Server [Server ID (818960705255899178)] */
.container-3w7J-x[aria-label*="Badge Support"] .scroller-RmtA4e div.content-3YMskv > div:first-child {
    width: 110%;
    height: 150px !important;
    box-shadow: inset  0 -20px 20px -20px var(--server-banner-shadow);
    background-image: url("https://i.imgur.com/RnvRYPF.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* BorderShapes Support Server [Server ID (763831710835933214)] */
.container-3w7J-x[aria-label*="JayWilson's Place"] .scroller-RmtA4e div.content-3YMskv > div:first-child {
    width: 110%;
    height: 130px !important;
    box-shadow: inset  0 -20px 20px -20px var(--server-banner-shadow);
    background-image: url("https://cdn.discordapp.com/icons/763831710835933214/69d3a60796c49b8326b4d556e2f4d045.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* KLWP Project Server [Server ID (390020191582683146)] */
.container-3w7J-x[aria-label*="KLWP Project"] .scroller-RmtA4e div.content-3YMskv > div:first-child {
    width: 110%;
    height: 130px !important;
    box-shadow: inset  0 -20px 20px -20px var(--server-banner-shadow);
    background-image: url("https://i.imgur.com/uwTFn7K.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/*  My Mod Server [Server ID (DATA_NOT_FOUND)] */
.container-3w7J-x[aria-label*="The Phantom Mods"] .scroller-RmtA4e div.content-3YMskv > div:first-child {
    width: 110%;
    height: 130px !important;
    box-shadow: inset  0 -20px 20px -20px var(--server-banner-shadow);
    background-image: url("https://i.imgur.com/sODWXO9m.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/*  My Twtich Server [Server ID (797173403505000539)] */
.container-3w7J-x[aria-label*="RGWJ's Discord World"] .scroller-RmtA4e div.content-3YMskv > div:first-child {
    width: 110%;
    height: 130px !important;
    box-shadow: inset  0 -20px 20px -20px var(--server-banner-shadow);
    background-image: url("https://i.imgur.com/vzmkPqam.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/*  Server [Server ID ()] */
.container-3w7J-x[aria-label*=""] .scroller-RmtA4e div.content-3YMskv > div:first-child {
    width: 110%;
    height: 130px !important;
    box-shadow: inset  0 -20px 20px -20px var(--server-banner-shadow);
    background-image: url("");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

